.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.confirm-form__content {/*ページ全体を囲む大きな枠*/
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.content-form__heading {
    text-align: center;
    margin-bottom: 40px;
}

.form {/*フォームの大きな枠*/
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header{
   padding:15px;
    width: 20%;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    font-weight: bold;
}


.confirm-table__text {
    padding:15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__text input{
    width: 100%;
    outline: none;/*フォーカス時に枠線が表示されないようにする*/
    border: none;
}

/* 最後の行のヘッダーとテキストの下の枠線を削除 */
.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button{
    text-align: center;
    margin-top: 30px;
}

.form__button-submit{
    padding: 10px ;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}